.tab-pane {
    -fx-skin: "com.sun.javafx.scene.control.skin.TabPaneSkin";
   /* -fx-tab-min-width: 7em;
    -fx-tab-max-width: 7em;*/
    -fx-tab-min-height: 4em;
    -fx-tab-max-height: 4em;
}

.tab:top {
    -fx-background-color: -fx-tab-border-color, -fx-inner-border, -fx-body-color;
    -fx-background-color:  #040528;
}

.tab-down-button:hover {
    -fx-background-color: -fx-body-color;
    -fx-color: -fx-hover-base;
}

.tab-down-button .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.238083em 0.416667em 0.238083em 0.416667em;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";
}

.tab-pane.floating *.tab-header-background {
    -fx-background-color: null;

}

.tab-pane.floating *.tab-header-area {
    -fx-background-color: null;
}

.tab-pane.floating *.tab-content-area {
    -fx-background-color: -fx-tab-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;
}

.tab-pane.floating *.tab {
    -fx-background-color: -fx-tab-border-color, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}

.tab-pane.floating *.tab:selected {
    -fx-background-color: -fx-tab-border-color, -fx-control-inner-background;
    -fx-background-insets: 0 0 -1 0, 1 1 -1 1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;

}

.tab *.tab-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.tab-header-background {
    -fx-background-color: #ffbf00;
}

.tab-content-area{
    -fx-background-color:  #040528;
   /* -fx-background-color: #01003b;*/
}


.separator {
    -fx-skin: "com.sun.javafx.scene.control.skin.SeparatorSkin";
    -fx-background-color: rgb(110, 124, 150);
}

.button {
    -fx-background-color: #4644c2;
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

button:hover {
    -fx-background-color: -fx-mark-color, -30%;
}

.text-input {
    -fx-font-size: 16;
    -fx-font-family: "Roboto";
}

.tab {
}


#tabId{
    -fx-background-color:  #040528;
   /* -fx-tab-min-height: 4em;
    -fx-tab-max-height: 4em;*/
}
